@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Site Comparator</h1>
</div>

<div class="row">
    <div id="siteList" class="col-md-12">
        <label>Site List</label>
        <select data-bind="options: AllSites, selectedOptions: SelectedSites" size="3" multiple="true" class="form-control"></select>
        <button data-bind="click: Compare, disable: IsLoading">Compare!</button>
    </div>
    <div class="col-md-12">
        <div class="row" data-bind="foreach: ReviewedSites">
            <hr class="col-md-12"/>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>Site: </label><span data-bind="text: URL"></span>
                    <label>Keywords: </label>
                    <div data-bind="foreach: KeywordResult">
                        <span data-bind="text: $data"></span>
                    </div>                  
                    <label>Accessibility: </label>
                    <div data-bind="foreach: AccessibilityResult">
                        <span data-bind="text: $data"></span>
                    </div>
                </div>
                <div class="col-md-10">
                    <iframe style="width: 100%;height:500px" data-bind="iframeContent: HtmlContent"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="/Scripts/views/Home/Index.js"></script>
}