@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Site Comparator</h1>
</div>

<div class="row">
    <div id="siteList" class="col-md-4">
        <label>Site List</label>
        <select data-bind="options: AllSites, selectedOptions: SelectedSites" size="3" multiple="true" class="form-control"></select>
        <button data-bind="click: Compare, disable: IsLoading">Compare!</button>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="/Scripts/views/Home/Index.js"></script>
}